PORT=3000

KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=cowork-github-group

GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=

REDIS_HOST=localhost
REDIS_PORT=6379

GITHUB_TOKEN_CACHE_TTL_SECONDS=3300
GITHUB_INSTALLATION_CACHE_TTL_SECONDS=86400
GITHUB_ISSUE_MAX_RETRIES=3
